/* Header Start */
.nav-fst {
    height: 80px;
    width: 100%;
}
.src {
    margin-left: 100px;
    margin-top: 25px;
    color: orangered;
}
.src:hover {
    
}
.logo img {
    height: 50px;
    width: 100px;
    margin-left: 500px;
    margin-top: -40px;
}
.bag {
    margin-left: 1200px;
    color: orangered;
}
.icn-bag {
    margin-top: -40px;
}
.nav {
    height: 80px;
    width: 100%;
    background-color: rgb(248, 246, 246);
    margin-top: -30px;
}
ul li {
    float: left;
    list-style: none;
    padding-left: 50px;
    margin-top: 30px;
}
li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
ul {
    margin-left: 100px;
}
.banner {
    margin-top: 35px;
}
.banner img {
    width: 100%;
}
/* Header End */
/* Collection Start */
    .clt-head h1 {
        text-align: center;

    }
    .clt {
        margin-top: 80px;
    }
    .collection-img {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        margin-left: 54px;
        margin-top: 50px;
    }
    .clt-img img {
        height: 150px;
        width: 150px;
        transition: transform.5s;
    }
    .clt-img img:hover {
        transform: scale(1);
    }
    .clt-img p {
        font-size: 20px;
        margin-left: 10px;
    }
/* Collection End */